body {
    /* background-color: black; */
    background-image: linear-gradient(to bottom, #121D20, #0D3E61);
    background-repeat: no-repeat;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}